html, body{
    margin:0px;
    padding:0px;
}

.row div {
    border: 3px solid blue;
    width: 150px;
    height: 150px;
    float: left;
    background-color: lightpink;
    color: midnightblue;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    margin:0 auto;
    cursor: pointer;


    box-shadow: 3px 4px 1px 2px rgba(1,1,1, 0.1);
    text-shadow: 2px 3px  1px rgba(1,1,1, 0.3);
    user-select: none;
}


.row {
    clear: both;
}

